-#encoding: utf-8
.row{style: "height:70px;"}
  %h1 移动设备
.row
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th -
        %th 名称
        %th 系统
        %th 版本
        %th 例句
    %tbody
      - @devices.each_with_index do |device, index|
        %tr
          - page_offset = (params[:page].nil? ? 0 : params[:page].to_i-1) * 30
          %td= page_offset + index + 1
          %td= device.human
          %td= device.os
          %td= device.platform
          %td= device.device_datas.count

.row
  :css
    .pagination { display: block; text-align: center;margin-bottom: 15px;}
  = will_paginate @devices, :previous_label => "上一页", :next_label => "下一页", renderer: BootstrapPagination::Sinatra
