-#encoding: utf-8
.row{style: "height:70px;"}
  .col-lg-4
    %h1{style: "display: inline-block;"}例句 
    %button.btn.btn-default.btn-sm{style:"margin-bottom:15px;","data-target" => "#exportPhantom", "data-toggle" => "modal", :type => "button"}
      导出 
  .col-lg-4{style: "height:100%;"}
    %div.search-result{style: "height:100%;margin-top:35px;text-align:right;"}
  .col-lg-4{style: "height:100%;margin-top:25px;"}
    %div.input-group{style:"max-width:400px;"}
      %input#search.form-control{:placeholder => "输入关键字", :type => "text"}
      %span.input-group-btn
        %button.btn.btn-default{type:"button", onclick:"Phantom.search('#search');"}
          %span.glyphicon.glyphicon-search
:css
  .table .tv {
    text-align: center;
    vertical-align: middle;
    max-width: 20px;
  }
.row{style: "margin-top: 5px; background: white;"}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
        %th 例句/分解
        %th 判断
        %th 操作
    %tbody
      - @phantoms.each_with_index do |phantom, index|
        %tr.tr-row{class: "row-#{index}", id: phantom.id}
          - page_offset = (params[:page].nil? ? 0 : params[:page].to_i-1) * 30
          %td.tv{rowspan: "2"}= page_offset + index + 1
          %td= phantom.raw_text
          %td
            %span.label{class: "label-#{phantom.style}"}= phantom.yn_human
          %td
            = link_to "再解析", "javascript:void(0);", onclick: "Phantom.process(%d);" % phantom.id, class: "btn btn-link", style: "padding: 0px;"
        %tr.tr-row{class: "#{phantom.style} row-#{index}"}
          %td.phantom{colspan: "3","data-index" => index, "data-keywords" => "#{keywords(phantom)}"}= phantom.json 

.row
  :css
    .pagination { display: block; text-align: center;margin-bottom: 15px;}
  = will_paginate @phantoms, :previous_label => "上一页", :next_label => "下一页", renderer: BootstrapPagination::Sinatra

= javascript_include_tag "phantom.js"

/ Modal
#exportPhantom.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exportphantomLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4#exportphantomLabel.modal-title 导出例句
      .modal-body
        %table.table.table-condensed#export{style: "margin:auto 20px;"}
          %tbody
            %tr
              %td
                %input{"data-index" => "0", :type => "checkbox", :checked => true} 正确
            %tr
              %td 
                %input{"data-index" => "1", :type => "checkbox", :checked => true} 错误
            %tr
              %td
                %input{"data-index" => "2", :type => "checkbox", :checked => true} 未决
      .modal-footer
        %a.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消 
        %a#exportBtn.btn.btn-primary{:href=> "/cpanel/phantoms/export?yn=111"} 提交

/ Modal
#processModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exportphantomLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4.modal-title 词义解析
      .modal-body
        - form_tag "/cpanel/phantoms",{class: "form-horizontal", role: "form"} do
          - field_set_tag do
            = hidden_field_tag "id", id: "phantom_id"
            = hidden_field_tag "phantom[json]", id: "phantom_json"
          %table.table.table-condensed#process{style: "margin:auto 20px;"}
            %tbody
              %tr
                %td 耗时
                %td.process-duration
                  处理中...
              %tr
                %td 结果
                %td.process-result
                  处理中...
              %tr
                %td 判断
                %td 
                  %input{:type => "radio", :value => "1", :name => "phantom[yn]", :checked => true} 
                  正确
                  %input{:type => "radio", :value => "0", :name => "phantom[yn]"}
                  错误

          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 取消 
            %button.btn.btn-primary#processBtn{:type => "submit"} 提交
