-#encoding: utf-8
.row
  %h1 微信用户(#{@weixiners.count})

:css
  .avatar { width: 48px; height: 48px; }
  .table .va-m{ vertical-align: middle; }
.row{style: "margin-top: 5px; background: white;"}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th 微信头像
        %th 微信昵称
        %th 消息数量
        %th 例句数量 
        %th 关注状态
    %tbody
      - @weixiners.each do |weixiner|
        %tr
          %td{"data-openid" => weixiner.uid}
            = image_tag weixiner.head_img_url, class: "avatar"
          %td.va-m= weixiner.nick_name
          %td.va-m= weixiner.messages.count
          %td.va-m= weixiner.messages.find_all { |m| m.phantom }.count
          %td.va-m= weixiner.status
