.page-header
  %h1 注册

- form_for @user, "/user/register", id: "registerForm", class: "form-horizontal", role: "form" do |f|
  .form-group
    = f.label "用户名", class: "col-lg-2 control-label"
    .col-lg-6
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label "邮箱", class: "col-lg-2 control-label"
    .col-lg-6
      = f.text_field :email, class: "form-control"
  .form-group
    = f.label "密码", class: "col-lg-2 control-label"
    .col-lg-6
      = f.password_field :password, class: "form-control"
  .form-group
    = f.label "确认密码", class: "col-lg-2 control-label"
    .col-lg-6
      = f.password_field :confirm_password, class: "form-control"
  .form-group
    .col-lg-offset-2.col-lg-4
      = f.submit "提交", class: "btn btn-default"

= stylesheet_link_tag "bootstrapValidator.css"
= javascript_include_tag "bootstrapValidator.js"
= javascript_include_tag "user_register.js"
