-# coding: UTF-8
!!!
%html
  %head
    %title= [Settings.website.title, Settings.website.slogan].join(" | ")
    %meta{name: "renderer", content:"webkit"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{"http-equiv" => "content-type", content: "text/html", charset: "UTF-8"}
    %link{href: "#{Settings.website.favicon}", rel: "shortcut icon"}
    = javascript_include_tag "jquery-2.1.1.min.js"
    = javascript_include_tag "bootstrap.320.min.js"
    = javascript_include_tag "nprogress.js"
    = javascript_include_tag "js_utils.js"
    = javascript_include_tag "application.js"
    = javascript_include_tag "jquery_sinatra"
    = stylesheet_link_tag "bootstrap.320.min.css"
    = stylesheet_link_tag "nprogress.css"
    = stylesheet_link_tag "application.css"
    - is_mobile = mobile?
    - if is_mobile
      %meta{:content => "no", :name => "apple-mobile-web-app-capable"}
      %meta{:content => "True", :name => "HandheldFriendly"}/
      %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
      :css
        body { max-width: 1000px; min-width:300px; }
        .bs-docs-header h1 { text-align: left; padding-left: 10px;}

  %body{style: "background:#f0f0f0;"}
    = haml :"../layouts/_header"
    .container#main
      .row
        %div{class: "#{is_mobile ? 'col-sm-12' : 'col-sm-9 col-sm-offset-1'}", style: "text-align:center;"}
          .loading.hidden 加载中...
          = flash_message
      %div{class: "#{is_mobile ? 'col-sm-12' : 'col-sm-9 col-sm-offset-1'}", style: "padding-left:0px;padding-right:0px;"}
        = yield

    .container#footer
      .row.center
        .footer &copy; #{Time.now.strftime("%Y")} #{Settings.website.footer}

